h1.title {
	font-family: "Montserrat", sans-serif;
	font-size: clamp(2rem, 3vw + 0.25rem, 3.25rem);
	color: var(--navbar-text-color);
	margin-top: 10px;
}

p.info {
	color: var(--navbar-text-color);
	margin: 20px;
}


.links {
	padding-top: 20px;
	display: inline;
}

.links a {
	margin-right: 0.3rem;
	margin-left: 0.3rem;
	display: inline-block;
	width: 40px;
	height: 40px;
	color: var(--navbar-text-color);
	border-radius: 20px;
	background-color: var(--navbar-bg-color);
	line-height: 2.5rem;
	text-align: center;
	box-shadow: 0px 1px 2px black
}

.links a:hover {
	box-shadow: 0px 2px 3px black !important;
}

.link {
	transition: .5s;
}

a.github:hover {
	color: white !important;
}

a.discord:hover {
	color: #5865F2 !important;
}

a.twitter:hover {
	color: #1da1f2 !important;
}

.soloto svg {
	height: 20px;
	width: 20px;
	position: relative;
	bottom: -4px;
}

.st0 {
	fill: white;
	transition: .5s;
}

.soloto:hover .st0 {
	fill: #3673FC !important;
}

.popup {
	position: relative;
	display: inline-block;
}

.popup .popuptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 73.5%;
	margin-left: -80px;
}

.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.popup:hover .popuptext {
	visibility: visible;
	-webkit-animation: fadeIn 0.75s;
	animation: fadeIn 0.75s;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}