---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<p class="text-ctp-text text-center">oops, could not find that page (￣ω￣;)</p>
	<div class="text-center">
		<a href="/" class="text-ctp-mauve hover:text-ctp-mauve/80 transition-colors">[go home]</a>
	</div>
</Layout>
