---
import { Image } from "astro:assets";
import Tabs from "./Tabs.astro";

const { currentPath } = Astro.props;
---

<header
	class="bg-ctp-crust border-ctp-surface0 relative flex flex-col items-center gap-4 rounded-lg border p-4 sm:flex-row"
>
	<span id="oneko" aria-hidden="true"></span>
	<div class="flex grow flex-row items-center gap-2" transition:persist>
		<Image
			src="/images/cxntered.jpg"
			alt="cxntered's profile picture"
			width={32}
			height={32}
			class="rounded-full"
		/>
		<h1 class="text-ctp-text text-xl font-bold">cxntered</h1>
	</div>
	<Tabs currentPath={currentPath} />
</header>

<style>
	#oneko {
		background-image: url("/images/oneko.png");
		image-rendering: pixelated;
		position: absolute;
		width: 32px;
		height: 32px;
		bottom: calc(100% - 3px);
		right: 12px;
		animation: sleep 2s steps(1) infinite;
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}

	@keyframes sleep {
		0% {
			background-position: -64px 0;
		}
		50% {
			background-position: -64px -32px;
		}
	}
</style>
