---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import { fade } from "astro:transitions";
import "../styles/global.css";

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en" class="bg-ctp-base">
	<Head title={title} />
	<body class="flex min-h-dvh" transition:animate={fade({ duration: "0.15s" })}>
		<div class="m-auto flex max-w-3xl grow flex-col gap-2 px-4.5 py-8">
			<Header currentPath={currentPath} />
			<main class="bg-ctp-crust border-ctp-surface0 flex flex-col gap-4 rounded-lg border p-6">
				<slot />
			</main>
			<footer transition:persist>
				<p class="text-ctp-overlay0 text-center text-sm">
					made with ❤ •
					<a
						href="https://github.com/cxntered/website"
						class="hover:text-ctp-overlay1 underline underline-offset-4 transition-colors"
						target="_blank"
					>
						source code
					</a>
				</p>
			</footer>
		</div>
	</body>
</html>
